@inherits LayoutComponentBase

<PageTitle>Управление задачами</PageTitle>
<div class="bb-page">
	<main>
		<div class="p-3 d-flex justify-content-start todo-header">
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
				<div class="mx-2">
					<img src="/images/logo/logo-todo.svg" width="28" height="28" alt="TODO" class="align-baseline">
				</div>
				<div class="h5 mx-2">Управление задачами</div>
			</a>
		</div>

		<article class="content px-4">
			<div class="py-2">
				@Body
			</div>
		</article>
	</main>

</div>

